@import "vars";
@import "mixins";
@import "default";

header {
    padding-top: 30px;
    background-image: url(../img/prostok-t-1-kopia-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    // z-index: 4;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 35px;
        background-color: @pink;
        z-index: -2;
        transform: translate(0, -25px) rotate(-0.5deg);
    }

    .container {
        nav {
            display: grid;
            grid-template-columns: 1fr auto;

            .logo {
                font-size: 25px;
                font-weight: 900;
                padding-left: 35px;
                position: relative;

                &::before {
                    content: url(../img/lines.png);
                    position: absolute;
                    left: 0;
                    top: 4px;
                }
            }

            ul {
                display: flex;
                list-style: none;
                margin-top: 8px;

                li {
                    padding: 0 10px;

                    a {
                        text-decoration: none;
                        color: #fff;
                        transition: 0.2s;

                        &:hover {
                            color: @pink;
                        }
                    }
                }
            }
        }

        .header-text {
            text-align: center;
            padding: 205px 0;

            h1 {
                text-transform: uppercase;
                margin: 0;

                span {
                    font-weight: 900;
                }
            }

            .p-text {
                font-weight: 300;
                line-height: 1.73;
                letter-spacing: 0.55px;
            }

            .btn-header {
                margin-top: 60px;
            }
        }
    }
}

main {
    .powerfull {
        .container {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            position: relative;

            .head-text {
                text-align: left;

                .line {
                    margin: 40px 0;
                }
            }

            img {
                position: absolute;
                width: 85%;
                right: -240px;
            }
        }
    }

    .our-services {
        background-color: #fff;

        .product {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-top: 95px;

            .block {
                img {
                    display: block;
                    margin: 0 auto;
                }

                a {
                    display: block;
                    text-align: center;
                    color: @pink;
                    text-decoration: none;
                    margin-top: 35px;
                }
            }
        }
    }

    .just-text {
        padding: 150px 0;
        background-image: url(../img/prostok-t-1-kopia-5.png);
        background-repeat: no-repeat;
        background-size: cover;

        .container {
            color: #fff;
            position: relative;
            font-size: 25px;
            font-weight: 300;
            font-style: italic;
            text-align: center;
            line-height: 1.6;
            letter-spacing: 0.63px;

            &::before {
                position: absolute;
                top: -140px;
                left: 50%;
                margin-left: -40px;
                content: "\201C";
                font-size: 150px;
                font-weight: bold;
                color: @pink;
            }

            &::after {
                position: absolute;
                top: 10px;
                right: 50%;
                margin-right: -35px;
                content: "\201E";
                font-size: 150px;
                font-weight: bold;
                color: @pink;
            }
        }
    }

    .price {
        text-align: center;

        .grid-price {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 30px;
            margin-top: 90px;

            .price-block {
                position: relative;

                .bg-price {
                    background-color: @text-color;
                    padding: 30px 0 40px;
                    transition: 0.2s;

                    .price-text {
                        letter-spacing: 0.3px;

                        color: #f4f4f4;
                        font-size: 18px;
                        font-weight: bold;

                        span {
                            letter-spacing: 1.4px;
                            font-size: 50px;
                            margin-left: 10px;
                        }
                    }
                }

                &:hover .bg-price {
                    background-color: @pink;
                }

                .text {
                    padding: 30px 0;
                    background-color: #fff;

                    .description {
                        line-height: 2.53;
                        padding: 10px 0;
                    }

                    .btn {
                        border: 0;
                        outline: 0;
                        cursor: pointer;
                        text-transform: uppercase;
                    }
                }

                .pack {
                    position: absolute;
                    display: inline-block;
                    padding: 16px 55px;
                    background-color: #f4f4f4;
                    font-weight: bold;
                    text-decoration: none;
                    border-radius: 100px;
                    top: 126px;
                    left: 50%;
                    margin-left: -96px;
                }
            }
        }
    }

    .skills {
        background-color: #fff;

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 80px;

            .grid-block {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-gap: 20px;

                img {
                    margin-top: 10px;
                }

                .text {
                    .name {
                        color: @pink;
                        font-weight: 600;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .join-us {
        background: @pink;

        .container {
            width: 1000px;
            display: flex;

            h2 {
                color: #fff;
                margin: 0 40px 0 0;
                font-style: normal;

                span {
                    font-weight: bold;
                }
            }

            .btn {
                background: #fff;
                color: @pink;
                border: 0;
                outline: 0;
                cursor: pointer;

                &:hover {
                    background: @pink;
                    color: #fff;
                }
            }
        }
    }

    .our-updates {
        background-color: #fff;

        .grid-block {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 60px 30px;
            margin-top: 80px;

            a {
                position: relative;
                display: block;
                line-height: 0;

                img {
                    width: 100%;
                }
            }

            .content {
                position: relative;
                background-color: #f4f4f4;
                padding: 25px 20px;

                h5 {
                    margin: 0;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

    .mache-psd {
        background-image: url(../img/prostok-t-1-kopia-8.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;

        p {
            display: block;
            width: 700px;
            margin: 0 auto 60px;
            font-weight: 300;
        }
    }


    .again-new-section {
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 60px;

            img {
                width: 145%;
                transform: translate(-210px, -50px);
            }

            .head-text {
                text-align: left;

                .line {
                    margin: 0;
                }
            }
        }
    }
}