@import "vars";
@import "default";
@import "mixins";

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.6rem;
}

header {
    background-color: @dark-blue;
    padding-bottom: 20px;

    nav {
        position: relative;
        display: flex;
        padding: 30px 55px 0;

        @media all and (max-width: 1050px) {
            display: block;
            padding: 15px 15px;
        }

        .logo {
            a {
                position: relative;
                font-size: 1.55rem;
                font-weight: 600;
                letter-spacing: 0.03rem;
                margin-top: 5px;
                padding-left: 35px;

                &::before {
                    content: url(../img/shield.png);
                    position: absolute;
                    top: -5px;
                    left: 0;
                }
            }
        }

        ul {
            display: flex;
            list-style: none;
            margin: 10px auto 0;
            padding: 0;
            background-color: @dark-blue;

            @media all and (max-width: 1050px) {
                display: block;
                position: absolute;
                width: 100%;
                top: 50px;
                left: 0;
                margin: 0;

                a {
                    display: none;
                    padding: 15px 15px 15px;
                }
            }

            label.menu {
                position: absolute;
                top: -30px;
                right: -10px;
                display: none;

                @media all and(max-width:1050px) {
                    display: block;
                    right: 20px;
                }
            }

            input[type="checkbox"]:checked~li a {
                display: block;
                padding: 15px 15px 15px;
            }

            a {
                margin: 0 15px;
                font-size: 1rem;
                color: rgba(255, 255, 255, 0.75);
                transition: 0.3s;

                &:hover {
                    transition: 0.3s;
                    color: #fff;
                }
            }
        }

        .btn {
            .btn-bottom(@turquoise, @bg-button, 18px 33px);

            @media all and (max-width: 1050px) {
                display: none;
            }
        }
    }
}

main {
    .go-home {
        padding: 15px 50px;
        color: #7e7e7e;
        background-color: rgba(153, 153, 153, 0.2);

        a {
            color: @turquoise;
        }
    }

    .technology {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .text {
            margin: 50px 50px 0 0;

            span {
                color: #fff;
                padding: 7px 15px;
                background-color: @turquoise;
                border-radius: 5px;
            }

            p {
                font-size: 1.05rem;
            }

            a {
                color: @text;
                font-size: 1.05rem;
                font-weight: bold;
            }
        }
    }
}