@import "vars";
@import "default";
@import "mixins";

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

section {
  @media all and (max-width: 1200px) {
    width: 960px;
  }

  @media all and (max-width: 1050px) {
    width: 720px;
  }
  @media all and (max-width: 770px) {
    width: 540px;
  }
  @media all and (max-width: 600px) {
    width: 94%;
    margin: 0 auto;
  }
}

header {
  background-color: @dark-blue;
  padding-bottom: 20px;

  nav {
    position: relative;
    display: flex;
    padding: 30px 55px 0;

    @media all and (max-width: 1050px) {
      display: block;
      padding: 15px 30px;
    }

    .logo {
      a {
        position: relative;
        font-size: 1.55rem;
        font-weight: 600;
        letter-spacing: 0.03rem;
        margin-top: 5px;
        padding-left: 35px;

        &::before {
          content: url(../img/shield.png);
          position: absolute;
          top: -5px;
          left: 0;
        }
      }
    }

    ul {
      display: flex;
      list-style: none;
      margin: 10px auto 0;
      padding: 0;
      background-color: @dark-blue;

      @media all and (max-width: 1050px) {
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        margin: 0;

        a {
          display: none;
          padding: 15px 15px 15px;
        }
      }

      label.menu {
        position: absolute;
        top: -30px;
        right: -10px;
        display: none;

        @media all and(max-width:1050px) {
          display: block;
          right: 20px;
        }
      }

      input[type="checkbox"]:checked ~ li a {
        display: block;
        padding: 15px 15px 15px;
      }

      a {
        margin: 0 15px;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.75);
        transition: 0.3s;

        &:hover {
          transition: 0.3s;
          color: #fff;
        }
      }
    }

    .btn {
      .btn-bottom(@turquoise, @bg-button, 18px 33px);

      @media all and (max-width: 1050px) {
        display: none;
      }
    }
  }
}

main {
  .go-home {
    padding: 15px 50px;
    color: #7e7e7e;
    background-color: rgba(153, 153, 153, 0.2);

    a {
      color: @turquoise;
    }
  }

  .technology {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media all and (max-width: 1050px) {
      display: block;
      padding-top: 0;
      .about-1 {
        margin-top: 30px;
        box-shadow: 0 0 50px rgba(15, 15, 15, 0.1);
      }
    }

    .text {
      margin: 50px 50px 0 0;

      span {
        color: #fff;
        padding: 7px 15px;
        background-color: @turquoise;
        border-radius: 5px;
      }

      p {
        font-size: 1.05rem;
      }

      a {
        color: @text;
        font-size: 1.05rem;
        font-weight: bold;
      }
    }
  }

  .mobile-content {
    width: auto;
    background-color: #f8f9fc;

    .mobile-info-block {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 1000px;
      margin: 0 auto;

      @media all and (max-width: 1200px) {
        width: 960px;
      }

      @media all and (max-width: 1050px) {
        display: block;
        width: 720px;

        .phone {
          display: block;
          width: 35%;
          margin: 0 auto;
        }
      }
      @media all and (max-width: 770px) {
        width: 540px;
      }
      @media all and (max-width: 600px) {
        width: 94%;
        margin: 0 auto;
      }

      .block {
        display: flex;
        margin-top: 50px;

        .icon {
          margin-right: 30px;
        }

        .text {
          a {
            color: @text;
            font-size: 1.3rem;
            font-weight: bold;
            transition: 0.3s;

            &:hover {
              color: @turquoise;
            }
          }
        }
      }

      .block-3 {
        margin-left: 20px;
      }
    }
  }

  .expert-team {
    .expert-s {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      margin-top: 20px;

      @media all and (max-width: 1050px) {
        grid-template-columns: 1fr 1fr;

        .man:first-child {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
      @media all and (max-width: 770px) {
        img {
          width: 250px;
        }
      }
      @media all and (max-width: 600px) {
        display: block;
        width: 94%;
        margin: 0 auto;
        .man {
          margin-top: 40px;
        }
        img {
          width: auto;
        }
      }

      a {
        display: block;
        color: @text;
        font-size: 1.4rem;
        font-weight: 500;
        transition: 0.3s;
        margin-top: 10px;

        &:hover {
          color: @dark-blue;
        }
      }

      p {
        margin: 0;
      }

      ul {
        display: flex;
        padding: 0;
        width: 100px;
        margin: 10px auto 0;

        a {
          padding: 8px;
          margin: 0 auto;
        }

        .facebook {
          background-image: url(../img/facebook-turquoise.png);

          &:hover {
            background-image: url(../img/facebook-dark-blue.png);
          }
        }

        .twitter {
          background-image: url(../img/twitter-turquoise.png);

          &:hover {
            background-image: url(../img/twitter-dark-blue.png);
          }
        }

        .instagram {
          background-image: url(../img/instagram-turquoise.png);

          &:hover {
            background-image: url(../img/instagram-dark-blue.png);
          }
        }
      }
    }
  }

  .register {
    width: auto;
    background-color: #f8f9fc;

    .block-register {
      width: 1100px;
      margin: 0 auto;

      @media all and (max-width: 1200px) {
        width: 960px;
      }

      @media all and (max-width: 1050px) {
        width: 720px;
      }

      @media all and (max-width: 770px) {
        width: 540px;
      }
      @media all and (max-width: 600px) {
        width: 94%;
        margin: 0 auto;
      }

      form {
        .form-grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

          @media all and (max-width: 770px) {
            grid-template-columns: 1fr 1fr;

            .form-block:last-child {
              grid-column-start: 1;
              grid-column-end: 3;
              margin-top: 30px;
            }
          }
          @media all and (max-width: 500px) {
            display: block;
            .form-block {
              margin-top: 30px;
            }
          }
          label {
            display: block;
            margin-bottom: 10px;
            color: @text;
          }

          .input {
            width: 350px;
            padding: 15px 0 15px 20px;
            box-sizing: border-box;
            border-radius: 10px;
            border: 2px solid rgb(223, 221, 221);
            outline: 0;
            color: #999;
            -webkit-appearance: none;
            font-size: 1rem;

            @media all and(max-width:1200px) {
              width: 290px;
            }

            @media all and (max-width: 1050px) {
              width: 210px;
            }
            @media all and (max-width: 770px) {
              width: 250px;
            }
            @media all and (max-width: 500px) {
              width: 100%;
            }

            &:focus {
              border: 2px solid @turquoise;
            }

            &::placeholder {
              font-size: 1rem;
            }
          }

          .input-select {
            background: #fff url(../img/arrow-select.png) no-repeat 94% 50%;
            background-size: 12px;

            @media all and (max-width: 770px) {
              width: 96.5%;
            }
            @media all and (max-width: 600px) {
              width: 100%;
            }
          }
        }

        .form-button {
          display: block;
          color: #fff;
          .btn-bottom(@turquoise, @dark-blue, 20px 30px);
          border: 0;
          margin: 20px auto 0;
          cursor: pointer;
          font-size: 0.95rem;
          outline: 0;
        }
      }
    }
  }
}

footer {
  padding: 70px 0;
  background-color: #131313;

  h3 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 15px 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 0.8fr 0.6fr 1fr;
    width: 980px;
    margin: 0 auto;

    @media all and (max-width: 1050px) {
      grid-template-columns: 0.5fr 1fr;
      width: 700px;
      margin: 0 auto;

      .block-one {
        margin: 0 0 15px;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    @media all and (max-width: 800px) {
      display: block;
      width: 530px;

      .block ~ .block {
        margin-top: 50px;
      }
    }

    @media all and (max-width: 600px) {
      width: 96%;
    }

    p {
      font-size: 0.99rem;
      letter-spacing: 0.01rem;
    }

    .block-one {
      margin-right: 20px;

      a {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }

    .block-two {
      ul {
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 10px;

          a {
            color: #999;
            transition: 0.3s;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }

    .block-three {
      form {
        position: relative;

        input[type="email"] {
          outline: 0;
          border: 0;
          border-radius: 10px;
          font-size: 1rem;
          padding: 17px 0 17px 17px;
          width: 100%;

          @media all and (max-width: 600px) {
            box-sizing: border-box;
          }
        }

        input[type="submit"] {
          .btn-bottom(@turquoise, @bg-button, 12px 20px);
          position: absolute;
          top: 5px;
          right: -12px;
          font-size: 1rem;
          border: 0;
          color: #fff;
          cursor: pointer;

          @media all and (max-width: 600px) {
            right: 6px;
          }
        }
      }
    }
  }
}

.cub-footer {
  padding: 20px 0;
  background-color: #0f0f0f;

  .block {
    width: 980px;
    margin: 0 auto;
    color: #999;

    @media all and (max-width: 1050px) {
      width: auto;
      text-align: center;
    }

    a {
      color: #999;
      transition: 0.3s;

      &:hover {
        color: #fff;
      }
    }
  }
}
