a {
  text-decoration: none;
  color: #fff;
  font-size: 0.98rem;
}
p {
  color: #999;
  font-size: 0.98rem;
  line-height: 1.7rem;
}
section {
  width: 1000px;
  padding: 70px 0px;
  margin: 0 auto;
}
@media all and (max-width: 600px) {
  section {
    padding: 40px 0;
  }
}
.head-text {
  text-align: center;
}
.head-text h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.head-text .line {
  width: 70px;
  height: 2px;
  background-color: #3f3d56;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
input[type="checkbox"] {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  position: relative;
}
header {
  color: #fff;
  width: 100%;
  height: 680px;
  background-color: #0c3866;
}
@media all and (max-width: 1050px) {
  header {
    height: 1100px;
  }
}
@media all and (max-width: 600px) {
  header {
    height: auto;
    padding-bottom: 50px;
  }
}
header nav {
  position: relative;
  display: flex;
  padding: 30px 55px 0;
}
@media all and (max-width: 1050px) {
  header nav {
    display: block;
    padding: 15px 15px;
  }
}
header nav .logo a {
  position: relative;
  font-size: 1.55rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  margin-top: 5px;
  padding-left: 35px;
}
header nav .logo a::before {
  content: url(../img/shield.png);
  position: absolute;
  top: -5px;
  left: 0;
}
header nav ul {
  display: flex;
  list-style: none;
  margin: 10px auto 0;
  padding: 0;
}
@media all and (max-width: 1050px) {
  header nav ul {
    display: block;
    position: absolute;
    width: 95%;
    top: 50px;
    left: 20px;
    margin: 0;
  }
  header nav ul a {
    display: none;
    padding: 15px 15px 15px;
  }
}
header nav ul label.menu {
  position: absolute;
  top: -30px;
  right: -10px;
  display: none;
}
@media all and (max-width: 1050px) {
  header nav ul label.menu {
    display: block;
    right: 20px;
  }
}
header nav ul input[type="checkbox"]:checked ~ li a {
  display: block;
  padding: 15px 15px 15px;
}
header nav ul a {
  margin: 0 15px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
  transition: 0.3s;
}
header nav ul a:hover {
  transition: 0.3s;
  color: #fff;
}
header nav .btn {
  background: #49c0b6;
  transition: 0.3s;
  padding: 18px 33px;
  border-radius: 10px;
}
header nav .btn:hover {
  background-color: #007cc0;
  transition: 0.3s;
}
@media all and (max-width: 1050px) {
  header nav .btn {
    display: none;
  }
}
header .main-text {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 1000px;
  margin: 100px auto 0;
  padding: 0;
}
@media all and (max-width: 1050px) {
  header .main-text {
    display: block;
    width: 700px;
    margin: 50px auto 0;
  }
  header .main-text img {
    display: block;
    margin: auto;
  }
}
@media all and (max-width: 800px) {
  header .main-text {
    width: 500px;
  }
}
@media all and (max-width: 600px) {
  header .main-text {
    width: 96%;
  }
}
header .main-text .text {
  margin-left: 50px;
}
@media all and (max-width: 1050px) {
  header .main-text .text {
    margin: 0;
  }
}
header .main-text .text h1 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 30px;
}
header .main-text .text h1 span {
  font-weight: 500;
}
@media all and (max-width: 1050px) {
  header .main-text .text h1 {
    font-size: 3rem;
  }
}
header .main-text .text p {
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5rem;
}
@media all and (max-width: 1050px) {
  header .main-text .text p {
    font-size: 1.05rem;
    line-height: 1.8rem;
  }
}
header .main-text .text .btn-s {
  margin-top: 70px;
}
header .main-text .text .btn-s .btn-one {
  margin-right: 15px;
  background: #49c0b6;
  transition: 0.3s;
  padding: 15px 25px;
  border-radius: 10px;
}
header .main-text .text .btn-s .btn-one:hover {
  background-color: #007cc0;
  transition: 0.3s;
}
@media all and (max-width: 400px) {
  header .main-text .text .btn-s .btn-one {
    margin-right: 50%;
  }
}
header .main-text .text .btn-s .btn-two {
  background: auto;
  transition: 0.3s;
  padding: 15px 25px;
  border-radius: 10px;
  border: 2px solid #fff;
}
header .main-text .text .btn-s .btn-two:hover {
  background-color: auto;
  transition: 0.3s;
}
header .main-text .text .btn-s .btn-two:hover {
  background-color: #fff;
  color: #49c0b6;
}
@media all and (max-width: 400px) {
  header .main-text .text .btn-s .btn-two {
    display: inline-block;
    margin-top: 20px;
  }
}
header .main-text img {
  border-radius: 100%;
  width: 100%;
}
@media all and (max-width: 600px) {
  header .main-text img {
    max-width: 400px;
  }
}
.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #3f3d56;
}
@media all and (max-width: 1050px) {
  .about-us {
    display: block;
    width: 710px;
    margin: auto;
  }
  .about-us h3 {
    line-height: 1.9rem;
  }
  .about-us p {
    line-height: 1.7rem;
  }
  .about-us img {
    margin-top: 20px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  }
}
@media all and (max-width: 800px) {
  .about-us {
    width: 500px;
  }
}
@media all and (max-width: 600px) {
  .about-us {
    width: 96%;
  }
}
.about-us .text {
  margin-right: 15px;
}
.about-us .text h2 {
  font-size: 2rem;
}
.about-us .text h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.about-us .text p {
  font-size: 1.05rem;
  color: #868383;
}
.our-product {
  color: #3f3d56;
  text-align: center;
  background-color: #f8f5f5;
  width: 100%;
  margin: 0;
}
.our-product .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1050px;
  margin: 30px auto 0;
}
@media all and (max-width: 1050px) {
  .our-product .grid {
    display: block;
    width: auto;
  }
  .our-product .grid .block {
    display: inline-block;
    width: 300px;
    margin: 30px 15px 0;
    padding: 30px 15px;
  }
}
@media all and (max-width: 800px) {
  .our-product .grid {
    display: block;
    margin: 0 auto;
    width: 500px;
  }
}
@media all and (max-width: 600px) {
  .our-product .grid {
    width: 95%;
  }
}
.our-product .grid .block {
  padding: 30px;
  background: #fff;
  margin: 30px 15px 0;
  border-radius: 10px;
}
@media all and (max-width: 800px) {
  .our-product .grid .block {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin: 30px 0 0;
  }
}
.our-product .grid .block a {
  color: #3f3d56;
  display: block;
  margin-top: 15px;
  font-weight: 500;
  font-size: 1.3rem;
  transition: 0.3s;
}
.our-product .grid .block a:hover {
  transition: 0.3s;
  color: #49c0b6;
}
.about-us-person {
  text-align: center;
  color: #3f3d56;
}
@media all and (max-width: 1050px) {
  .about-us-person {
    width: auto;
  }
  .about-us-person .flex {
    margin: 40px 0 0;
  }
  .about-us-person .block {
    width: 300px;
  }
  .about-us-person .block-three {
    display: none;
  }
}
@media all and (max-width: 800px) {
  .about-us-person .block-two {
    display: none;
  }
}
.about-us-person .flex {
  display: flex;
  margin-top: 40px;
}
.about-us-person .flex .block {
  margin: 0 5px;
  border: 1px solid rgba(192, 192, 192, 0.651);
  border-radius: 10px;
  padding: 30px;
}
@media all and (max-width: 1050px) {
  .about-us-person .flex .block {
    margin: auto;
  }
}
.about-us-person .flex .block .stars {
  margin-top: 15px;
}
.about-us-person .flex .block .stars img {
  width: 13px;
}
.our-company {
  position: relative;
  padding: 50px 0;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../img/stats_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.our-company .block {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  width: 1000px;
  margin: 0 auto;
}
@media all and (max-width: 1050px) {
  .our-company .block {
    width: 700px;
    display: block;
    margin: 10px auto;
  }
}
@media all and (max-width: 800px) {
  .our-company .block {
    width: 500px;
  }
}
@media all and (max-width: 600px) {
  .our-company .block {
    width: 96%;
  }
}
.our-company .block p {
  color: #cfcfcf;
  line-height: 1.7;
}
.our-company .block .text h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.our-company .block .about-company {
  display: flex;
  margin-left: 20px;
}
@media all and (max-width: 1050px) {
  .our-company .block .about-company {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
}
.our-company .block .about-company .digit {
  margin: 10px 0;
  font-size: 2rem;
}
.our-company .block .about-company p {
  font-size: 1rem;
}
.our-company .block .about-company .us {
  padding: 15px 50px;
}
@media all and (max-width: 1050px) {
  .our-company .block .about-company .us {
    text-align: center;
    padding: 15px 0;
  }
}
@media all and (max-width: 1050px) {
  .news {
    width: 100%;
  }
}
.news .grid-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1000px;
  margin: 35px auto 0;
}
@media all and (max-width: 1050px) {
  .news .grid-news {
    width: auto;
    grid-template-columns: 0.5fr 0.5fr;
    margin: 50px 0 0;
  }
  .news .grid-news .block:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media all and (max-width: 800px) {
  .news .grid-news {
    display: block;
    width: 500px;
    margin: 50px auto 0;
  }
}
@media all and (max-width: 600px) {
  .news .grid-news {
    width: 96%;
  }
}
.news .grid-news .block {
  margin: 0 13px;
  height: 340px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.137);
  border-radius: 5px;
  margin-bottom: 50px;
}
@media all and (max-width: 1050px) {
  .news .grid-news .block {
    width: 320px;
    margin: 0 auto 50px;
  }
}
@media all and (max-width: 800px) {
  .news .grid-news .block {
    width: 100%;
    height: auto;
  }
}
.news .grid-news .block .icon {
  height: 200px;
  border-radius: 5px 5px 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media all and (max-width: 800px) {
  .news .grid-news .block .icon {
    height: 330px;
  }
}
@media all and (max-width: 600px) {
  .news .grid-news .block .icon {
    height: 25vh;
  }
}
.news .grid-news .block .icon-1 {
  background-image: url(../img/blog.jpg);
}
.news .grid-news .block .icon-2 {
  background-image: url(../img/blog1.jpg);
}
.news .grid-news .block .icon-3 {
  background-image: url(../img/blog2.jpg);
}
.news .grid-news .block:hover .icon {
  transition: 0.3 ease-in-out;
  background-size: 120%;
}
.news .grid-news .block .title {
  display: block;
  margin-top: 20px;
  padding: 0 20px 15px 20px;
  color: #3f3d56;
  font-size: 1.25rem;
  font-weight: 500;
  transition: 0.3s;
  border-bottom: 1px solid rgba(192, 192, 192, 0.651);
}
.news .grid-news .block .title:hover {
  color: #49c0b6;
}
.news .grid-news .block .footer-block {
  display: flex;
  padding: 15px;
  color: #999;
  font-size: 0.99rem;
}
.news .grid-news .block .footer-block .name {
  position: relative;
  padding-left: 23px;
  transition: 0.3s;
  color: #999;
}
.news .grid-news .block .footer-block .name::before {
  content: url(../img/user.png);
  position: absolute;
  left: 0;
  top: 2px;
}
.news .grid-news .block .footer-block .time {
  margin-left: auto;
  position: relative;
}
.news .grid-news .block .footer-block .time::before {
  content: url(../img/calendar.png);
  position: absolute;
  left: -23px;
}
footer {
  padding: 70px 0;
  background-color: #131313;
}
footer h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0 15px 0;
}
footer .grid {
  display: grid;
  grid-template-columns: 0.8fr 0.6fr 1fr;
  width: 980px;
  margin: 0 auto;
}
@media all and (max-width: 1050px) {
  footer .grid {
    grid-template-columns: 0.5fr 1fr;
    width: 700px;
    margin: 0 auto;
  }
  footer .grid .block-one {
    margin: 0 0 15px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media all and (max-width: 800px) {
  footer .grid {
    display: block;
    width: 530px;
  }
  footer .grid .block ~ .block {
    margin-top: 50px;
  }
}
@media all and (max-width: 600px) {
  footer .grid {
    width: 96%;
  }
}
footer .grid p {
  font-size: 0.99rem;
  letter-spacing: 0.01rem;
}
footer .grid .block-one {
  margin-right: 20px;
}
footer .grid .block-one a {
  font-size: 1.5rem;
  font-weight: 500;
}
footer .grid .block-two ul {
  margin: 0;
  padding: 0;
}
footer .grid .block-two ul li {
  margin-bottom: 10px;
}
footer .grid .block-two ul li a {
  color: #999;
  transition: 0.3s;
}
footer .grid .block-two ul li a:hover {
  color: #fff;
}
footer .grid .block-three form {
  position: relative;
}
footer .grid .block-three form input[type="email"] {
  outline: 0;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  padding: 17px 0 17px 17px;
  width: 100%;
}
@media all and (max-width: 600px) {
  footer .grid .block-three form input[type="email"] {
    box-sizing: border-box;
  }
}
footer .grid .block-three form input[type="submit"] {
  background: #49c0b6;
  transition: 0.3s;
  padding: 12px 20px;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  right: -12px;
  font-size: 1rem;
  border: 0;
  color: #fff;
  cursor: pointer;
}
footer .grid .block-three form input[type="submit"]:hover {
  background-color: #007cc0;
  transition: 0.3s;
}
@media all and (max-width: 600px) {
  footer .grid .block-three form input[type="submit"] {
    right: 6px;
  }
}
.cub-footer {
  padding: 20px 0;
  background-color: #0f0f0f;
}
.cub-footer .block {
  width: 980px;
  margin: 0 auto;
  color: #999;
}
@media all and (max-width: 1050px) {
  .cub-footer .block {
    width: auto;
    text-align: center;
  }
}
.cub-footer .block a {
  color: #999;
  transition: 0.3s;
}
.cub-footer .block a:hover {
  color: #fff;
}
.btn-right-bottom {
  position: fixed;
  padding: 9px 10px;
  border-radius: 10px;
  background-color: #49c0b6;
  right: 10px;
  bottom: 10px;
  transition: 0.3s;
}
.btn-right-bottom:hover {
  background-color: #007cc0;
}
