body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
h3,
h4,
h5,
h6 {
  color: #333;
}
p {
  color: #999;
  line-height: 1.6;
  font-weight: normal;
}
h2,
h4 {
  font-family: "Kaushan Script", cursive;
}
h1 {
  font-size: 140px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
h2 {
  font-size: 72px;
  margin-bottom: 0px;
}
h3 {
  font-size: 30px;
  margin: 10px 0 40px;
}
h4 {
  font-size: 24px;
  margin: auto;
}
.head-text {
  cursor: default;
}
.head-text h1,
.head-text h2,
.head-text h3,
.head-text h4 {
  text-align: center;
}
.head-text p {
  margin-top: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
section {
  width: 1100px;
  margin: 0 auto;
  padding: 90px 0;
}
ul {
  display: flex;
  list-style: none;
}
ul li {
  text-transform: uppercase;
}
ul li a {
  transition: 0.2s;
}
ul li a:hover {
  color: #fce38a;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
article {
  padding: 0 20px;
}
.line {
  width: 60px;
  height: 3px;
  margin: 0 auto;
  background: #f38181;
}
header {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%), url(../img/layer-15.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 0;
  box-sizing: border-box;
}
header section {
  padding: 0;
}
header section nav {
  display: grid;
  grid-template-columns: 1fr auto;
}
header section nav h3 {
  margin-top: 0;
  color: #fff;
  cursor: default;
}
header section nav ul li {
  padding: 0 15px;
}
header section nav ul li a {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 5px;
}
header section .head-text .line {
  background: #fff;
}
header .btn-learn-more {
  display: table;
  padding: 12px 35px;
  border: 3px solid #fff;
  margin: 50px auto 0;
  transition: 0.2s;
  text-transform: uppercase;
}
header .btn-learn-more:hover {
  background: #f38181;
}
main .line {
  background: #f38181;
}
main .story .grid-story {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 100px;
}
main .story .grid-story .grid-block-story {
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
}
main .story .grid-story .block-story-1 {
  background-image: url(../img/layer-44.jpg);
  transition: 0.2s;
  position: relative;
}
main .story .grid-story .block-story-1:hover {
  box-shadow: 7px 7px 0 #95e1d3;
}
main .story .grid-story .block-story-1::before {
  content: url(../img/team.png);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%);
  text-align: center;
  padding-top: 70px;
  opacity: 0;
  transition: 0.2s;
}
main .story .grid-story .block-story-1:hover::before,
main .story .grid-story .block-story-1:hover::after {
  opacity: 1;
}
main .story .grid-story .block-story-1::after {
  content: "super team";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-transform: uppercase;
  text-align: center;
  padding-top: 110px;
  font-size: 16px;
  opacity: 0;
  transition: 0.2s;
}
main .story .grid-story .block-story-2 {
  background-image: url(../img/layer-41.jpg);
  transition: 0.2s;
  position: relative;
}
main .story .grid-story .block-story-2:hover {
  box-shadow: 7px 7px 0 #95e1d3;
}
main .story .grid-story .block-story-2::before {
  content: url(../img/wifi.png);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%);
  text-align: center;
  padding-top: 70px;
  opacity: 0;
  transition: 0.2s;
}
main .story .grid-story .block-story-2:hover::before,
main .story .grid-story .block-story-2:hover::after {
  opacity: 1;
}
main .story .grid-story .block-story-2::after {
  content: "comunicative";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-transform: uppercase;
  text-align: center;
  padding-top: 110px;
  font-size: 16px;
  opacity: 0;
  transition: 0.2s;
}
main .story .grid-story .block-story-3 {
  background-image: url(../img/layer-39.jpg);
  transition: 0.2s;
  position: relative;
}
main .story .grid-story .block-story-3:hover {
  box-shadow: 7px 7px 0 #95e1d3;
}
main .story .grid-story .block-story-3::before {
  content: url(../img/tree.png);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%);
  text-align: center;
  padding-top: 70px;
  opacity: 0;
  transition: 0.2s;
}
main .story .grid-story .block-story-3:hover::before,
main .story .grid-story .block-story-3:hover::after {
  opacity: 1;
}
main .story .grid-story .block-story-3::after {
  content: "ecological";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-transform: uppercase;
  text-align: center;
  padding-top: 110px;
  font-size: 16px;
  opacity: 0;
  transition: 0.2s;
}
main .figures {
  background-color: #95e1d3;
}
main .figures ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 1100px;
  margin: 0 auto;
}
main .figures ul li {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  border-collapse: collapse;
  padding: 40px 0;
}
main .figures ul li h2 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
}
main .figures ul li p {
  color: #fff;
  font-size: 15px;
}
main .services .grid-services {
  margin-top: 100px;
}
main .services .grid-services .grid-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
}
main .services .grid-services .grid-block .block {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}
main .services .grid-services .grid-block .block .text h5 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
main .services .grid-services .grid-block .block .text p {
  font-size: 14px;
  margin-top: 0;
}
main .services .grid-services .big-line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 50px 0;
}
main .design {
  width: 100%;
  background-image: url(../img/layer-45.jpg);
  background-size: cover;
  position: relative;
  padding-bottom: 0;
}
main .design::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2;
}
main .design .head-text {
  z-index: 3;
  position: relative;
}
main .design .head-text img {
  display: block;
  width: max-content;
  margin: 45px auto 0;
  border-radius: 10px;
  object-fit: contain;
  border-radius: 30px;
}
main .what-we-do .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 80px;
}
main .what-we-do .grid .right-blocks .long-block {
  margin-bottom: 10px;
}
main .what-we-do .grid .right-blocks .long-block .check[type="checkbox"] {
  display: none;
}
main .what-we-do .grid .right-blocks .long-block .check[type="checkbox"]:checked ~ .text {
  display: block;
}
main .what-we-do .grid .right-blocks .long-block .check[type="checkbox"]:checked ~ .text-1 {
  display: none;
}
main .what-we-do .grid .right-blocks .long-block .button {
  display: block;
  position: relative;
  padding: 15px 0 15px 60px;
  border: solid 1px #e5e5e5;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  cursor: pointer;
}
main .what-we-do .grid .right-blocks .long-block .button::before {
  content: url(../img/picture.svg);
  position: absolute;
  top: 10px;
  left: 15px;
}
main .what-we-do .grid .right-blocks .long-block .but-2::before {
  content: url(../img/equalizer.svg);
}
main .what-we-do .grid .right-blocks .long-block .but-3::before {
  content: url(../img/bullseye.svg);
}
main .what-we-do .grid .right-blocks .long-block .text {
  display: none;
  padding: 15px;
  border: solid 1px #e5e5e5;
  color: #999;
  font-style: italic;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  cursor: default;
}
main .what-we-do .grid .right-blocks .long-block .text-1 {
  display: block;
}
main .quote {
  background-color: #f8f8f8;
  padding: 70px;
}
main .quote .container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 60px;
  width: 1000px;
  margin: 0 auto;
}
main .quote .container img {
  padding: 40px;
  border: solid 3px #95e1d3;
}
main .quote .container p {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  margin: 0;
}
main .quote .container h5 {
  position: relative;
  font-family: "Kaushan Script", cursive;
  font-weight: 500;
  color: #333;
  font-size: 24px;
  margin: 20px 0 0 0;
  padding-left: 70px;
}
main .quote .container h5::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  margin: 0 auto;
  left: 0;
  top: 20px;
  background-color: #f38181;
}
main .our-team .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 90px;
}
main .our-team .grid .image {
  transition: 0.2s;
  position: relative;
  cursor: pointer;
}
main .our-team .grid .image:hover {
  box-shadow: 7px 7px 0 #95e1d3;
}
main .our-team .grid .image:hover ul {
  display: flex;
}
main .our-team .grid .image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%);
  text-align: center;
  opacity: 0;
  transition: 0.2s;
}
main .our-team .grid .image:hover::before {
  opacity: 1;
}
main .our-team .grid .image img {
  width: 100%;
}
main .our-team .grid .image ul {
  display: none;
  position: absolute;
  top: 180px;
  left: 30px;
}
main .our-team .grid .image ul li:nth-child(1) ~ li a {
  border-left: 1px solid rgba(243, 129, 129, 0.5);
}
main .our-team .grid .image ul li a {
  padding: 15px 25px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fce38a;
  transition: 0.2s;
}
main .our-team .grid .image ul li a:hover {
  background-color: #f38181;
}
main .our-team .grid .image ul li a img {
  width: 24px;
}
main .our-team .grid .image ul li .facebook {
  background-image: url(../img/facebook-red.png);
  transition: 0.2s;
}
main .our-team .grid .image ul li .facebook:hover {
  background-image: url(../img/facebook-white.png);
}
main .our-team .grid .image ul li .twitter {
  background-image: url(../img/twitter-red.png);
  transition: 0.2s;
}
main .our-team .grid .image ul li .twitter:hover {
  background-image: url(../img/twitter-white.png);
}
main .our-team .grid .image ul li .vine {
  background-image: url(../img/vine-red.png);
  transition: 0.2s;
}
main .our-team .grid .image ul li .vine:hover {
  background-image: url(../img/vine-white.png);
}
main .our-team .grid .image ul li .instagram {
  background-image: url(../img/instagram-red.png);
  transition: 0.2s;
}
main .our-team .grid .image ul li .instagram:hover {
  background-image: url(../img/instagram-white.png);
}
